*{
	font-family: "Roboto", sans-serif;
}

html{
	background-color: #999;
}

.container{
	background-color: #ddd;
	width: 90%;
	margin: 0 auto;
}

li{
	width: 30%;
	display: inline-block;
}

img{
	width: 150px;
	/*float: left;*/
}